/*** Patrick Son
     Patrick_Son@student.uml.edu
     University of Massachusetts, Lowell
     COMP 4610-201
     November 3, 2016
     Homework 7: JavaScript Multiplication Table v2
        For the CSS, I decided to go with a darker theme than the rest of the 
        site to reinforce the idea that this is a separate page.
***/

body {
    background: #1a1a1a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#main-content {
    width: 80%;
    margin: auto;
}

#dataEntry {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 300px;
}

/* Rounded input boxes look nice */
input {
    border-radius: 5px;
    padding: 2px;
    font-size: 1.2em;
}

/* class to be added to the textbox if there is a problem with the user's input */
.input.error {
    color: black;
    border-color: orange;
    border-width: 4px;
    padding: 0; /* Since the border gets bigger, padding needs to be reduced to prevent weird behavior */
}

.error {
    color: orange;
}

/* Make the warning icon invisible by default */
.fa-warning {
    margin: 0px 8px;
}

#submit {
    cursor: pointer;
    outline: none;
    background: #1E90FF;
    color: white;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2em;
    margin: 20px 0;
}

#submit:hover {
    background-color: #005A9C;
}

#submit:active {
    background-color: blue;
}

/* Allow for table scrolling */
#table-wrapper {
    overflow: auto;
}

/* Puts the scroll-bar on top of the table instead of the bottom */
#table-wrapper, #table-wrapper table {
    transform:rotateX(180deg); /* this code snippet borrowed from http://stackoverflow.com/a/18998575 */
}

table {
    overflow: hidden;
    max-width: 100%;
    border-collapse: collapse;
}

th {
    border: 2px solid black;
    background-color: #0a0066;
    padding: 8px;
}

td {
    border: none;
    text-align: center;
    padding: 8px;
}

/* Checkerboard pattern for table cells */
tr:nth-child(even) td:nth-child(even) {
    background-color: black;
}

tr:nth-child(odd) td:nth-child(odd) {
    background-color: black;
}